.about{
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin-bottom: 10rem;
    padding-top: 2.4rem;
}

.about h1{
    text-align: start;
    font-size: 2.4rem;
}

.about p{
    font-size: 1.3rem;
}

.about button{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.about button:active{
    background-color: rgb(97, 97, 97);

}

.about button:hover{
    background-color: rgb(51, 51, 51);
}
