.about{
    display: flex;
    flex-direction: column;
    max-width: min(50rem, 65vw);
    margin-bottom: 5rem;
    padding-top: 1rem;
}

.about h1{
    text-align: start;
}

.about button{
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;

}

.about button:active{
    background-color: rgb(97, 97, 97);

}

.about button:hover{
    background-color: rgb(51, 51, 51);
}
