@media screen and (min-width:850px) {
    .customButton{
        background-color: black;
        /* margin: auto; */
        color: white;
        border: 1px solid white;
        
        cursor: pointer;
        
        width: calc(13.75rem);
        height: calc(4.375rem);
        font-size: 20px;
    }
}


@media screen and (max-width:850px) {
    .customButton{
        background-color: black;
        /* margin: auto; */
        color: white;
        border: 1px solid white;
        
        cursor: pointer;
        
        width: calc(13.75rem - 3vw);
        height: calc(4.375rem - 2vw);
        font-size: 20px;
    }
}




