.contacts{
    /* display: inline-block;*/
    /* text-align: left;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border: 2px solid white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: min(6rem, 5vw);
    padding-right: min(6rem, 5vw);

    max-width: min(46.75rem, 65vw);
    margin-top: 7rem;
    margin-bottom: 5rem;
}

@media screen and (min-width:850px)
{    
    .contacts h2{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:850px)
{
    .contacts h2{
        font-size: calc(1.0rem-1vw);
    }
}

.contacts img{
    margin-top: 1rem;
    border-radius: 0;
    height: 3rem;
    width: 3rem;
    
    margin-right: min(7rem, 10vw);
}

.contacts a{
    text-align: right;
    color: white;
    margin-left: 0rem;
}

.contacts button{
    border-radius: 10px;
}

.contacts button:active{
    background-color: rgb(97, 97, 97);

}

.contacts button:hover{
    background-color: rgb(51, 51, 51);
}

