.contacts{
    /* display: inline-block;
    text-align: left; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;




    margin-top: 10rem;
    margin-bottom: 5rem;
    padding-top: 2rem;
}

.contacts h1{
    font-size: 2.4rem;
}

.contacts p{
    font-size: 1.3rem;
}

.contacts a{
    margin-right: 4rem;
}

.contacts button:active{
    background-color: rgb(97, 97, 97);

}

.contacts button:hover{
    background-color: rgb(51, 51, 51);
}

