.home{      
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}


@media screen and (min-width:850px)
{
    .home h1{
        font-size: 2.4rem;
    }
    
    .home h2{
        font-size: 2rem;
    }
    
    .home p {
        font-size: 1.3rem;
    }
}

@media screen and (max-width:850px)
{
    .home h1{
        font-size: calc(2rem-2vw);
    }
    
    .home h2{
        font-size: calc(1.5rem-2vw);
    }
    
    .home p {
        font-size: calc(1.2rem-2vw);
    }
}