.intro{
    text-align: right;
    margin-top: 35vh;
    margin-bottom: 55vh; 
    margin-left: 15vw;
    margin-right: 15vw;

    /* height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.intro h1{
    font-size: 4.5vw;
}
