.navbar{
    background-color: black;
    height: 60px;
    padding: 0px;
    display: flex;
    align-items: center;
    position: sticky; 
    top: 0;
    z-index: 998;
}


.navbar .navitem{
    display: inline;
    
}

.navbar a {
    font-size: 1rem;
    flex-grow: 1; 
    flex-shrink: 0; 
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    cursor: pointer;   
    transition: .2s ease-out;
    
}
.navbar a:active {
    background-color: rgb(51, 51, 51);
}
.navbar a:hover {
    background-color: rgb(51, 51, 51);
}

.navbar h1{
    background-color: black;
}
.navbar h1:hover{
    background-color: black;
}

.navbar button {
    font-family: inherit;
    border: none;
    background-color: transparent;
    flex-grow: 1;
    cursor: pointer;
}
.navbar button:focus {
    outline: none;
}
.navbar button:hover {
    background-color: rgb(221, 221, 221);
}

.logoLink {
    flex-grow: 1;
}

@media screen and (max-width:850px)
{
    .desktop {
        display: none;
    }
    .nav-bar a {
        text-align: left;
    }
    .mobile {
        content: "";
        flex-grow: 10;
    }
}