.project{
    display: inline-block;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 50rem;
    
}

.project h1{
    font-size: 2.4rem;
}

.project p{
    font-size: 1.3rem;
}