.project{
    display: flex;
    flex-direction: column;
    max-width: min(50rem, 65vw);
    padding-top: 2.4rem;
    
}

.project h1{
    text-align: start;
}

.project h2{
    text-align: start;
}


