.project{
    text-align: left;
    flex-direction: column;
    padding: 20px;
    
}

.project h1{
    font-size: 35px;
    margin: auto;
    margin-bottom: 20px;
}

.project p{
    font-size: 17px;
}